#clubs {
    list-style-type: none; /* Removes default list bullets */
    padding: 0;
    margin: 0;
}

.club-info {
    flex-grow: 1; /* Allows the club name to take up available space, pushing badges to the right */
}

.subtitle {
    font-size: 16px; /* Adjust size as needed */
    color: #666; /* Subdued color for contrast */
    margin-top: -10px; /* Closer to the title */
    margin-bottom: 20px; /* Space before the list */
    text-align: center; /* Center-align if fits the design */
}

.badges {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between badges */
    white-space: nowrap; /* Ensures text within badges doesn't wrap */
    justify-content: center; /* Centers badges */
    margin: auto; /* Helps in centering if needed */
}

.badge {
    display: inline-block;
    background-color: #4CAF50; /* Default green background */
    color: white; /* White text */
    padding: 5px 10px; /* Padding inside badges */
    border-radius: 15px; /* Rounded corners for badges */
    font-size: 12px; /* Smaller font size for badge text */
    text-transform: uppercase; /* UPPERCASE text for badges */
    font-weight: bold; /* Bold font weight */
    flex-shrink: 0; /* Prevents badges from shrinking */
}

@media (max-width: 768px) {
    .badge {
        font-size: 8px; /* Even smaller font size for mobile */
        padding: 1px 3px; /* Reduced padding to save space */
        border-radius: 10px; /* Slightly less rounded corners for a more compact look */
    }

    /* Adjustments for badges container on mobile */
    .badges {
        flex-wrap: wrap;
        justify-content: center; /* Ensures center alignment on mobile */
    }
}


/* Custom colors for different badges */
.badge.beginner-friendly {
    background-color: #2196F3; /* Blue background for 'Beginner Friendly' */
}

.badge.nearby {
    background-color: #FF9800; /* Orange background for 'Nearby' */
}

.badge.small-group {
    background-color: #9C27B0; /* Purple background for 'Small Group' */
}

.badge.bag-drop {
    background-color: #673AB7; /* Deep purple background for 'Bag Drop' */
}

.badge.large-group {
    background-color: #E91E63; /* Pink background for 'Large Group' */
}


.running-days {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.day-badge {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
}




.explanation-section h1 {
    font-size: 28px; /* Increase as needed */
}

.explanation-section p {
    font-size: 20px; /* Increase as needed */
}

#apply-filters {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.top-section {
    text-align: center; /* Center-aligns the content */
    background-color: #f9f7f7; /* Soft background color */
    padding: 20px 0; /* Adds padding above and below */
    border-radius: 15px; /* Rounds the corners of the top section */
    margin-bottom: 20px; /* Creates space below the section */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Adds a subtle shadow for depth */
}

.logo {
    max-width: 150px; /* Sets a maximum width to the logo */
    border-radius: 15px; /* Rounds the corners of the logo image */
}

.explanation-section {
    background-color: #ffffff; /* Makes the background white for contrast */
    padding: 20px; /* Adds padding inside the section */
    border-radius: 10px; /* Rounds the corners of the section */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds a subtle shadow for depth */
    display: inline-block; /* Allows the section to not stretch full width */
    max-width: 80%; /* Limits the maximum width for better readability */
    text-align: left; /* Aligns text to the left */
    margin-top: 20px; /* Ensures space between the title and this section */
}

h1 {
    color: #3f72af; /* Sets the color of the main heading */
    margin: 10px 0 30px; /* Adjusts spacing around the heading */
}

h2 {
    color: #112d4e; /* Sets the color of the section heading */
    margin-bottom: 15px; /* Creates space below the heading */
}

ol {
    text-align: left; /* Ensures ordered list is aligned left */
    display: inline-block; /* Aligns the list correctly with text */
    text-align: start; /* Ensures proper alignment of list items */
}

li {
    margin-bottom: 10px; /* Creates space between list items */
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #dbe2ef, #dbe2ef); /* Gentle gradient */
    color: #112d4e;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    color: #3f72af;
    text-align: center;
    margin-bottom: 1.5rem;
}

h2 {
    color: #3f72af;
    margin-bottom: 1rem;
}

/* Form and Input Styling */
#club-form {
    background-color: #dbe2ef;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust spacing between form elements */
    width: auto;
    margin-bottom: 2rem;
}

#club-form input, #club-form textarea, #club-form button {
    padding: 10px;
    border: 2px solid #112d4e;
    border-radius: 5px;
    margin-bottom: 10px;
}

#club-form textarea {
    resize: vertical;
}


#club-form button {
    background-color: #3f72af;
    color: #f9f7f7;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#club-form button:hover {
    background-color: #112d4e;
}


/* Map Styling */
#map {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden; /* Ensures the map corners are also rounded */
}

/* Additional Styling */
input:focus, textarea:focus, button:focus {
    outline: none;
    border-color: #3f72af;
}

/* City Not Listed Section Styling */
#city-not-listed {
    margin-top: 20px;
    text-align: center;
}

#report-missing-city {
    padding: 10px 15px;
    background-color: #f44336; /* Red color for attention, but feel free to match your theme */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease;
}

#report-missing-city:hover {
    background-color: #c53727; /* Darker shade on hover */
}


.days-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f7f7; /* Light background for the container */
    border-radius: 10px;
    border: 2px solid #dbe2ef;
}

.day-box {
    padding: 5px 10px;
    margin: 2px;
    background-color: #e0e0e0; /* Light grey for inactive days */
    color: #757575; /* Darker grey for text, ensuring readability */
    font-weight: bold;
    border-radius: 4px; /* Slightly rounded edges for a softer look */
}

.day-active {
    background-color: #ffffff; /* White for active days */
    color: #112d4e; /* Consistent with the website's color scheme */
    /* border: 1px solid #3f72af; Light blue border for active days */
}


.explanation-section {
    background-color: #f9f7f7;
    padding: 50px;
    border-radius: 10px;
    margin: 20px auto;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.explanation-section h2 {
    color: #3f72af;
}

.explanation-section p, .explanation-section ol {
    color: #112d4e;
    line-height: 1.6;
}


.site-footer {
    background-color: #dbe2ef; /* Footer background color */
    color: #f9f7f7; /* Footer text color */
    padding: 20px 0; /* Footer padding */
    text-align: center; /* Center-align the footer content */
    border-top: 2px solid #dbe2ef; /* Optional: adds a top border to the footer */
    border-radius: 8px; /* Rounded corners */

}


.footer-content {
    max-width: 1200px; /* Max width for the footer content */
    margin: 0 auto; /* Centers the footer content */
    padding: 0 20px; /* Padding on the sides */
}

#recommend-club-btn {
    background-color: #f44336; /* Button background color */
    color: white; /* Button text color */
    padding: 12px 24px; /* Button padding */
    border: none; /* Removes border */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Changes cursor to pointer */
    font-size: 16px; /* Button font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#recommend-club-btn:hover {
    background-color: #c53727; /* Darker shade on hover */
}


.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition: transform 0.3s ease;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}


@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }



.ticker-wrap {
    overflow: hidden;
    position: relative;
    background-color: transparent;
    padding: 0;
    white-space: nowrap;
}

/* Responsive font size adjustment */
@media (max-width: 768px) {
    .ticker-item {
        font-size: 18px; /* Slightly smaller font for mobile devices */
        padding-right: 15px; /* Adjusted spacing for smaller screens */
    }
}

.ticker-wrap::before,
.ticker-wrap::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 4px; /* Thickness of the separation line */
    background-color: #3f72af; /* Color of the separation line */
}

.ticker-wrap::before {
    top: 0; /* Position the line at the top */
}

.ticker-wrap::after {
    bottom: 0; /* Position the line at the bottom */
}


.ticker {
    display: flex;
    animation: scrollText 20s linear infinite;
    position: relative;
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200% 100%;
}

/* Adjustments to the ticker animation for scrolling */
@keyframes scrollText {
    from { transform: translateX(0%); }
    to { transform: translateX(-50%); }
}

.ticker-item {
    white-space: nowrap;
    padding-right: 5px; /* Space between repetitions */
    font-weight: bold;
    color: #3f72af; /* Initial color, will be overridden by gradient */
    font-size: 24px; /* Larger font size */
}

/* Scrolling text animation */
@keyframes scrollText {
    from { transform: translateX(0%); }
    to { transform: translateX(-50%); }
}

/* Gradient background animation */
@keyframes shiftGradient {
    0% { background-position: 0% 0; }
    100% { background-position: -200% 0; }
}
